<div class="card-product">
  <img src="https://picsum.photos/200" />
  <div class="card-product-infos">
    <h2><%= restaurant.name %></h2>
    <p><%= restaurant.category %></p>
    <p>
    <%= link_to 'Show', restaurant %>
    </p>
  </div>
</div>
