
<h2>All our restaurants</h2>

<p><strong><%= link_to 'Create new restaurant', new_restaurant_path %></strong></p>
<hr>


  <div class="row">
    <% @restaurants.each do |r| %>
      <div class="col-xs-12 col-md-3">
        <%= render "card", restaurant: r %>
      </div>
    <% end %>
  </div>


